/* #region General */

:root {
    --main-black: #0a0a0a;
    --main-white: #fff;
    --title-black: #111;
    --subtitle-black: #222;
    --main-gray: #818181;
    --main-purple: #7620df;
    --dark-purple: #4A148C;
}

@font-face {
    font-family: "RosemaryRoman";
    src: url("/assets/Rosemary-Roman.woff") format("woff"),
         url("/assets/Rosemary\ Roman.ttf") format("truetype");
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* #endregion */

/* #region Header */

.header {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.home-logo {
    top: 0;
    left: 0;
    margin: 20px;
    height: 80px;
}

a.home-logo>img {
    height: 100%;
}

/* #endregion */

/* #region Content */

.content {
    height: 90%;
    width: 90%;
    max-width: 1200px;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel>img {
    width: 100%;
}

.nav-bar {
    display: none; /* REMOVE */
    flex-direction: row;
    justify-content: space-around;
}

.nav-bar-item {
    margin: 25px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 40px;
}

h2 {
    font-family: "RosemaryRoman";
}

blockquote {
    font-style: italic;
    font-size: 30px;
}

blockquote::before {
    content: "\00ab";
}

blockquote::after {
    content: "\00bb";
}

@media only screen and (max-width: 600px) {
}

/* #endregion */

/* #region Footer */

.footer {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.socials {
    padding: 10px;
}

/* #endregion */